<div id="main-detail-div">
  <h1>Detail of Restaurant <b>{{foundRestaurant.name}}</b></h1>
  <hr>
  <div id="detail-info">
    <div class="row">
      <div class="column detail-header">
        <p><strong >Id</strong></p>
        <p><strong>Name</strong></p>
        <p><strong>Description</strong></p>
        <p><strong>Address</strong></p>
        <p><strong>Price</strong></p>
      </div>
      <div class="column">
        <p>{{foundRestaurant.id}}</p>
        <p>{{foundRestaurant.name}}</p>
        <p>{{foundRestaurant.description}}</p>
        <p>{{foundRestaurant.address}}</p>
        <p>{{foundRestaurant.price}}</p>
      </div>
    </div>
  </div>
</div>